VITE_SUPERTOKENS_AUTH_ENABLED=true
VITE_SUPERTOKENS_APP_NAME="Astral Guide"
VITE_SUPERTOKENS_API_DOMAIN=http://localhost:5173
VITE_SUPERTOKENS_WEBSITE_DOMAIN=http://localhost:5173
VITE_SUPERTOKENS_API_BASE_PATH=/auth
VITE_SUPERTOKENS_WEBSITE_BASE_PATH=/auth
VITE_SUPPORT_HREF=mailto:hello@astral.guide?subject=Astral%20Guide%20Support
